/* .App {
  text-align: center;
} */

  h1 {
    background-color: black;
    text-align: center;
    color:#fff;
    font-size: 22px;
    padding: 5px;  
    margin-top:20px; 
  }

  #heading {
    width: 100%;
    margin: auto;
  }

  h2 {
    border: 2px solid black;
    font-size: 18px;
    padding:5px;
    color:blue;
    margin-bottom: 15px;
    text-align: center;
  }

