  h1 {
    background-color: black;
    text-align: center;
    color:#fff;
    font-size: 22px;
    padding: 5px;  
    margin-top:10px; 
    text-align: center;
    border-radius: 5px;
  }

  #heading {
    width: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  h2 {
    border: 2px solid black;
    font-size: 18px;
    padding:5px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    /* background-color: #d1e7dd; */
    
  }

  input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -4px;
    left: -0.5px;
    position: relative;
    background-color: #fafcfa;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(130, 129, 129);
    
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top:-4px;
    left:-0.5px;
    position: relative;
    background-color: hsl(355, 89%, 72%);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    
}


